.customerList-name,
.customerList-actions {
    position:relative;
    float:left;
}

.customerList-name {
    min-width:200px;
}

.customerList-item {
    height:50px;
}

.customerList-actions span {
    cursor:pointer;
}

.customerList-actions {
    text-transform: uppercase;
}
   
