<div class="appEditor">
    <h1  data-ng-if="!vm.entity.id">Create App <span data-ng-if="vm.entity.name.length > 0">: {{ vm.entity.name }}</span></h1>

    <h1 data-ng-if="vm.entity.id">Edit App: {{ vm.entity.name }}</h1>

    <tabs tabs-name="app-editor">

        <tab-title>General</tab-title>

        <tab-content>
            <div>
                <input class="inputField" type="text" placeholder="App Name" data-ng-model="vm.entity.name" />
            </div>
        </tab-content>

        <tab-title>Properties<span data-ng-if="vm.entity.id"> ({{vm.entity.properties.length }})</span></tab-title>

        <tab-content>
            <div data-ng-repeat="property in vm.entity.properties">
                <span>{{ property.name }}</span>
                <span class="app-editor-remove-child-link" data-ng-click="vm.removeProperty({ property: property })">REMOVE</span>
            </div>
        </tab-content>

        <tab-title>UIs<span data-ng-if="vm.entity.id"> ({{vm.entity.uis.length }})</span></tab-title>

        <tab-content>
            <div data-ng-repeat="ui in vm.entity.uis">
                <span>{{ ui.name }}</span>
                <span class="app-editor-remove-child-link" data-ng-click="vm.removeUI({ ui: ui })">REMOVE</span>
            </div>
        </tab-content>

    </tabs>

    <div>
        <calypso-button on-click="vm.addOrUpdate({ data: vm.entity })" caption="Save"></calypso-button>

        <calypso-button on-click="vm.create()" caption="Create"></calypso-button>
    </div>
</div>
