.appList-name,
.appList-actions {
    position:relative;
    float:left;
}

.appList-name {
    min-width:200px;
}

.appList-item {
    height:50px;
}

.appList-actions span {
    cursor:pointer;
}

.appList-actions {
    text-transform: uppercase;
}
   
