<div class="propertyEditor">

    <h1  data-ng-if="!vm.entity.id">Create Property <span data-ng-if="vm.entity.name.length > 0">: {{ vm.entity.name }}</span></h1>

    <h1 data-ng-if="vm.entity.id">Edit Property: {{ vm.entity.name }}</h1>

    <tabs tabs-name="property-editor">

        <tab-title>General</tab-title>

        <tab-content>
            <div>
                <input class="inputField" type="text" placeholder="Name" data-ng-model="vm.entity.name" />
            </div>
            <div>
                <input class="inputField" type="text" placeholder="Key" data-ng-model="vm.entity.key" />
            </div>
            <div>
                <input class="inputField" type="text" placeholder="Value" data-ng-model="vm.entity.value" />
            </div>
            <div>
                <input class="inputField" type="text" placeholder="Base Uri" data-ng-model="vm.entity.baseUri" />
            </div>
            <div>
                <input class="inputField" type="text" placeholder="Uri" data-ng-model="vm.entity.uri" />
            </div>
            <div class="property-text-area">
                <textarea ui-tinymce="vm.tinymceOptions" ng-model="vm.entity.htmlBody"></textarea>
            </div>
        </tab-content>

    </tabs>

    <div>
        <calypso-button on-click="vm.addOrUpdate({ data: vm.entity })" caption="Save"></calypso-button>

        <calypso-button on-click="vm.create()" caption="Create"></calypso-button>
    </div>
</div>
