<div class="propertyList">
    <div class="propertyList-header">
        <h1>Properties</h1>
    </div>
    
    <div data-ng-repeat="entity in vm.entities" class="propertyList-item">
        <div class="propertyList-name">
            {{ entity.name }}
        </div>
        <div class="propertyList-actions">
            <span data-ng-click="vm.edit({ entity: this.entity })">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.remove({ entity: this.entity })">remove</span>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
