<div class="sectionList">
    <div class="sectionList-header">
        <h1>Sections</h1>
    </div>
    
    <div data-ng-repeat="entity in vm.entities" class="sectionList-item">
        <div class="sectionList-name">
            {{ entity.name }}
        </div>
        <div class="sectionList-actions">
            <span data-ng-click="vm.edit({ entity: this.entity })">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.remove({ entity: this.entity })">remove</span>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
