.sectionList-name,
.sectionList-actions {
    position:relative;
    float:left;
}

.sectionList-name {
    min-width:200px;
}

.sectionList-item {
    height:50px;
}

.sectionList-actions span {
    cursor:pointer;
}

.sectionList-actions {
    text-transform: uppercase;
}
   
