<div class="uiList">
    <div class="uiList-header">
        <h1>Uis</h1>
    </div>
    
    <div data-ng-repeat="entity in vm.entities" class="uiList-item">
        <div class="uiList-name">
            {{ entity.name }}
        </div>
        <div class="uiList-actions">
            <span data-ng-click="vm.edit({ entity: this.entity })">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.remove({ entity: this.entity })">remove</span>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
