<!DOCTYPE html>
<html>
<head>
    <title>Expo Hair | Toronto, Ontario</title>
    <meta charset="utf-8" />
    <base href="/">
    <meta name="viewport"
          content="user-scalable=no,
              initial-scale=1,
              maximum-scale=1,
              minimum-scale=1,
              width=device-width,
              height=device-height,
              target-densitydpi=device-dpi" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700' rel='stylesheet' type='text/css'>
</head>
<body data-ng-app="app">
    <root-app data-ng-if="!isAdmin">Loading...</root-app>
    <admin-app data-ng-if="isAdmin"></admin-app>
    <script src="bower_components/tinymce-dist/tinymce.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/angular-sanitize.js"></script>
    <script src="lib/angular-touch.js"></script>
    <script src="lib/fastclick.js"></script>
    <script src="lib/moment.js"></script>
    <script src="lib/rx.all.compat.js"></script>
    <script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="lib/angular-rx-ui.js"></script>
    <script src="dist/app.js?v=0.0.8"></script>
</body>

<!-- start:preCacheData -->
<!-- end:preCacheData -->



</html>
