<div class="galleryList">
    <div class="galleryList-header">
        <h1>Gallerys</h1>
    </div>
    
    <div data-ng-repeat="entity in vm.entities" class="galleryList-item">
        <div class="galleryList-name">
            {{ entity.name }}
        </div>
        <div class="galleryList-actions">
            <span data-ng-click="vm.edit({ entity: this.entity })">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.remove({ entity: this.entity })">remove</span>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
