.galleryList-name,
.galleryList-actions {
    position:relative;
    float:left;
}

.galleryList-name {
    min-width:200px;
}

.galleryList-item {
    height:50px;
}

.galleryList-actions span {
    cursor:pointer;
}

.galleryList-actions {
    text-transform: uppercase;
}
   
