.socialShareItemList-name,
.socialShareItemList-actions {
    position:relative;
    float:left;
}

.socialShareItemList-name {
    min-width:200px;
}

.socialShareItemList-item {
    height:50px;
}

.socialShareItemList-actions span {
    cursor:pointer;
}

.socialShareItemList-actions {
    text-transform: uppercase;
}
   
