<div class="admin-app">
    <admin-header></admin-header>
    <div class="admin-content-container">
        <div class="admin-side-nav" data-ng-if="vm.currentUser">
            <ul>
                <li><a href="/admin/photos">Photos</a></li>
                <li><a href="/admin/galleries">Galleries</a></li>
                <li><a href="/admin/professionalservices">Services</a></li>
                <li><a href="/admin/properties">Properties</a></li>
            </ul>
        </div>
        <div class="admin-main-content" data-ng-view></div>
    </div>
</div>
