<div class="photoEditor">

    <h1  data-ng-if="!vm.entity.id">Create Photo <span data-ng-if="vm.entity.name.length > 0">: {{ vm.entity.name }}</span></h1>

    <h1 data-ng-if="vm.entity.id">Edit Photo: {{ vm.entity.name }}</h1>

    <tabs tabs-name="photo-editor">

        <tab-title>General</tab-title>

        <tab-content>
            <div>
                <input class="inputField" type="text" placeholder="Photo Name" data-ng-model="vm.entity.name" />
            </div>
        </tab-content>

    </tabs>

    <div>
        <calypso-button on-click="vm.addOrUpdate({ data: vm.entity })" caption="Save"></calypso-button>

        <calypso-button on-click="vm.create()" caption="Create"></calypso-button>
    </div>
</div>
