<div class="photoList">
    <div class="photoList-header">
        <h1>Photos</h1>
    </div>
    
    <div data-ng-repeat="entity in vm.entities" class="photoList-item">
        <div class="photoList-name">
            {{ entity.fileName }}
        </div>
        <div class="photoList-actions">
            <span data-ng-click="vm.edit({ entity: this.entity })">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.remove({ entity: this.entity })">remove</span>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
