.photoList-name,
.photoList-actions {
    position:relative;
    float:left;
}

.photoList-name {
    min-width:200px;
}

.photoList-item {
    height:50px;
}

.photoList-actions span {
    cursor:pointer;
}

.photoList-actions {
    text-transform: uppercase;
}
   
