.menuList-name,
.menuList-actions {
    position:relative;
    float:left;
}

.menuList-name {
    min-width:200px;
}

.menuList-item {
    height:50px;
}

.menuList-actions span {
    cursor:pointer;
}

.menuList-actions {
    text-transform: uppercase;
}
   
