<div class="app-header">
    <div class="app-header-inner">
        <img data-ng-src="{{::vm.logo}}" />
    </div>   
    <div class="app-header-sub-nav">
        <a href="/">Home</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/galleries">Gallery</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="whats-new">What's New</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/about">About</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/services">Services</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/contact">Contact</a>
    </div>     
</div>
