@import "../../../assets/scss/breakpoints";

.app-header {
    width:100%;
}

.app-header-inner {
    max-width:1280px;
    height:150px;
    margin: 50px auto 0px auto;    
}

.app-header-inner img {
    display:block;
   height:100px;
   width:152.5px;
   margin:0 auto;
}

.app-header-sub-nav {
    max-width:1280px;
    margin:0 auto;
    text-align:center;
}

.app-header-sub-nav {
    font-family:Roboto;
    font-weight:400;
}

.app-header-sub-nav a {
    text-decoration:none;
    color:#272727;
}

.app-header {
    margin-bottom:30px;
}
