<div class="professionalServiceList">
    <div class="professionalServiceList-header">
        <h1>ProfessionalServices</h1>
    </div>
    
    <div data-ng-repeat="entity in vm.entities" class="professionalServiceList-item">
        <div class="professionalServiceList-name">
            {{ entity.name }}
        </div>
        <div class="professionalServiceList-actions">
            <span data-ng-click="vm.edit({ entity: this.entity })">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.remove({ entity: this.entity })">remove</span>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
