.serviceProviderList-name,
.serviceProviderList-actions {
    position:relative;
    float:left;
}

.serviceProviderList-name {
    min-width:200px;
}

.serviceProviderList-item {
    height:50px;
}

.serviceProviderList-actions span {
    cursor:pointer;
}

.serviceProviderList-actions {
    text-transform: uppercase;
}
   
